<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="OneSignalAppId" value="6d0d8142-7b77-42d8-9a62-5ddf8afc61f2" />
    <add key="OneSignalAppAPI" value="N2NlZmI3NjItZTQ0MC00MjI5LTgyY2EtYzgyMDUzY2Q0MGRi" />

    <add key="BillPlzApi" value="a84559e3-7b9c-41a7-ac75-b7f41f50774c" />
    <add key="BillPlzCollectionId" value="u1khguq7" />
    <add key="BillPlzCallbackUrl" value="http://52.40.249.160/just/api/payment/callback" />

    <add key="ismsUsername" value="etking" />
    <add key="ismsPassword" value="etking19" />
    <add key="bypassAuthentication" value="1" />
    <add key="AdminPageUrl" value="http://admin.justlorry.com" />
    <add key="GoLorryAppUrl" value="https://play.google.com/store/search?q=com.justlogistic.driver" />
    <add key="RatingLink" value="http://www.justlorry.com/vote" />

    <add key="AuthorizationToken" value="justPartnerApp" />

    <add key="SuperAdminUserId" value="0" />

    <add key="Debug" value="1" />

    <!-- Email related settings -->
    <add key="SendGridApiKey" value="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" />

    <add key="InvoiceTemplateId" value="a2bf440b-cbe2-42b7-a1ed-0225992f3b5b" />
    <add key="InvoiceSubject" value="JustLorry Booking Invoice " />

    <add key="ConfirmTemplateId" value="dab1afcb-bb5c-4b23-8611-5f3d77548ed5" />
    <add key="ConfirmSubject" value="JustLorry Booking Confirmation " />

    <add key="DeliveredTemplateId" value="a754ecd5-c96d-49a1-949f-de877fc8ec80" />
    <add key="DeliveredSubject" value="Your order {{orderId}} has been complete" />

    <add key="OrderReceivedTemplateId" value="5045c145-a456-4705-a8af-5987d1d36426" />
    <add key="OrderReceivedSubject" value="Booking Received " />
    
  </appSettings>
  
  <connectionStrings>

    <!--<add name="justDb" connectionString="Server=localhost;Port=3366;Database=db_justgonetwork;Uid=justgonetwork;Pwd=JUST2016go;"/>-->
    <add name="JustGoNetworkDB" connectionString="Server=localhost;Port=3306;Database=justlorry;Uid=root;Pwd=;" />
    <!--<add name="JustGoNetworkDB" connectionString="Server=35.160.130.72;Port=3306;Database=justlorry;Uid=justAdmin;Pwd=just123!;" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
